<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

  <!-- Marca -->
  <a class="navbar-brand" href="#">
    <img src="/images/uug.png" alt="Logo" style="max-width: 50px; width:100%;">
  </a>

  <!-- Toggle y boton collapse -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link active" href="www.google.com">Inicio</a></li>
      <li class="nav-item"><a class="nav-link" href="www.fb.com/unityIPN"">Eventos</a></li>
      <li class="nav-item"><a class="nav-link" href="www.fb.com/unityIPN"">Blog</a></li>
      <li class="nav-item"><a class="nav-link" href="www.fb.com/unityIPN"">Sobre nosotros</a></li>
    </ul>
  </div>
</nav>