<!DOCTYPE html>
<html>
    <head>
        <title>Unity User Group IPN</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body class="width-100">
        <div class="containe">
            <div class="row">
                <div class="col-md-1 justify-content-center d-flex no-padding background-logo">
                    <img src="/images/uug.png" style="max-width: 50px; width:100%;"/>
                </div>
                <div class="col-md-11 no-padding">
                    <ul class="topnav">
                        <li><a class="active" href="www.google.com">Inicio</a></li>
                        <li><a href="www.fb.com/unityIPN"">Eventos</a></li>
                        <li><a href="www.fb.com/unityIPN"">Blog</a></li>
                        <li><a href="www.fb.com/unityIPN"">Sobre nosotros</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <dir class="col-md-12">
                    <h4>Bievenido a Unity User Group IPN</h4>
                </dir>
            </div>
        </div>
    </body>
</html>